# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml

# Build
dist/
build/

# Environment
.env
.env.local
.env.*.local

# Mac / Editors
.DS_Store
.vscode/
.idea/

# Python
__pycache__/
*.pyc
venv/

# Misc
.envrc
coverage/
.cache/
*.log
*.sqlite3
